body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #fcfcfc;
    }

ul {
    list-style-type: none;
        }

.logo {
        font-family: Raleway;
        font-weight: 700;
        font-size: 18px;
        font-style: Bold;
        line-height: 21px;
        letter-spacing: 3%;
        color:#2E2F42;
        text-decoration: none;
    }
span{
        color: #4D5AE5;
    }
    
.main-nav {
        color: #2E2F42;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        font-style: Medium;
        line-height: 24px;
        letter-spacing: 2%;
    }
.nav-link{
        color: #2E2F42;
        text-decoration: none;
     }

.main-nav a:hover {
     color: #404BBF;
    }

.address {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 2%;
        color: #434455;
    }
.address a:hover {
        color: #404BBF;
    }
    .address-link {
        color: #2E2F42;
        text-decoration: none;
    }
.main-hero {
        font-family: Roboto;
        font-weight: 700;
        font-size: 56px;
        font-style: Bold;
        line-height: 60px;
        letter-spacing: 2%;
        color: #ffffff;
        background-color: #2E2F42;
}
.main-hero-button {
    font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        font-style: Medium;
        line-height: 24px;
        letter-spacing: 4%;
        color: #ffffff;
        background-color: #4D5AE5
}