body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #fcfcfc;
    }

ul {
    list-style-type: none;
        }

.logo {
        font-family: Raleway;
        font-weight: 700;
        font-size: 18px;
        font-style: Bold;
        line-height: 21px;
        letter-spacing: 3%;
        color:#2E2F42;
    }
span{
        color: #4D5AE5;
    }
    
.main-nav {
        color: #2E2F42;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        font-style: Medium;
        line-height: 24px;
        letter-spacing: 2%;
    }

.main-nav a:hover {
        color: #404BBF;

    }
.address {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 2%;
        color: #434455;
    }
.address a:hover {
        color: #404BBF;
    }
